<!-- User Header -->
<%- include('include/_header') %>
<!-- /User Header -->

<!-- include style -->
<%- include('include/_indexCss') %>
<!-- /include style -->

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">

  <!-- include display -->
  <%- include('include/_ls1-2') %>
  <!-- /include display -->

</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->