<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- include style -->
<%- include('include/_indexCss') %>
<!-- /include style -->

<!-- Section for Adding Health Records -->
<div class="container pt-5 mt-5 my-3">

 <!-- Reception Form -->
 <div class="storage-container">

    <button class="storage-button" onclick="toggleForm()">
        <i class="fas fa-database icon"></i> RECEPTION FORM
    </button>
</div>


<div class="storage-container">
    <!-- Reception Form -->
    <form action="api/admin/reception" method="POST" id="receptionForm">

        <div class="form-group row">
            <label for="studyNameInput" class="col-sm-2 col-form-label">Study Name:</label>
            <div class="col-sm-4 position-relative">
                <div class="col-sm-4 position-relative">
                    <select id="studyName" class="form-control" name="studyName">
                        <option value="css">CSS</option>
                        <option value="l1/1">LS1/1</option>
                        <option value="lS1/2">LS1/2</option>
                        <option value="lS2">LS2</option>
                    </select>
                </div>
            </div>

            <label for="subjectInput" class="col-sm-2 col-form-label">SampleID (SID):</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="sampleId" class="form-control" id="" placeholder="SampleID (SID)">
            </div>
        </div>

        <div class="form-group row">
            <label for="visitNameInput" class="col-sm-2 col-form-label">Visit Name:</label>
            <div class="col-sm-4 position-relative">
                <select id="visitName" class="form-control" name="visitName">
                    <option value="m0">M0</option>
                    <option value="m6">M6</option>
                    <option value="m12">M12</option>
                    <option value="m18">M18</option>
                    <option value="m24">M24</option>
                </select>
            </div>

            <label for="visitDateInput" class="col-sm-2 col-form-label">Visit Date:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="visitDate" class="form-control" id="visitDateInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="sampleType" class="col-sm-2 col-form-label">Sample Type:</label>
            <div class="col-sm-4 position-relative">
                <select id="sampleType" class="form-control" name="sampleType">
                    <option value="Urine">Urine</option>
                    <option value="Scvs">SCVS</option>
                </select>
            </div>
    
            <label class="col-sm-2 col-form-label">Sample Quality:</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sampleQuality" id="accepted" value="Accepted">
                    <label class="form-check-label" for="accepted">Accepted</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sampleQuality" id="rejected" value="Rejected">
                    <label class="form-check-label" for="rejected">Rejected</label>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="rejectionReason" class="col-sm-2 col-form-label">Reason for Rejection:</label>
            <div class="col-sm-4 position-relative">
                <select id="rejectionReason" class="form-control" name="rejectionReason">
                    <option value="insufficientSample">Insufficient Sample</option>
                    <option value="urineLessThan5ML">Urine Sample Less Than 5ML</option>
                    <option value="leakage">Leakage</option>
                    <option value="swapNotInSCVSTube">Swab Not in SCVS Tube</option>
                    <option value="missLabeling">Miss Labeling</option>
                    <option value="heavyBloodyUrine">Heavy Bloody Urine</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="ageAtVisitInput" class="col-sm-2 col-form-label">Age at Visit:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="ageAtVisit" class="form-control" id="ageAtVisitInput" placeholder="Age at Visit">
            </div>

            <label for="dateSampleCollectionInput" class="col-sm-2 col-form-label">Date of Sample Collection:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateSampleCollection" class="form-control" id="dateSampleCollectionInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="timeOfSampleCollectionInput" class="col-sm-2 col-form-label">Time of Sample Collection:</label>
            <div class="col-sm-4 position-relative">
                <input type="time" name="timeOfSampleCollection" class="form-control" id="timeOfSampleCollectionInput" placeholder="Time of Sample Collection">
            </div>

            <label for="dateOfSampleReceiptInput" class="col-sm-2 col-form-label">Date of Sample Receipt:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateOfSampleReceipt" class="form-control" id="dateOfSampleReceiptInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="timeOfSampleReceiptInput" class="col-sm-2 col-form-label">Time of Sample Receipt:</label>
            <div class="col-sm-4 position-relative">
                <input type="time" name="timeOfSampleReceipt" class="form-control" id="timeOfSampleReceiptInput" placeholder="Time of Sample Receipt">
            </div>

            <label for="commentsInput" class="col-sm-2 col-form-label">Comments:</label>
            <div class="col-sm-4 position-relative">
                <textarea name="comments" class="form-control" id="commentsInput" rows="4" placeholder="Comments"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="dateOfEntryInput" class="col-sm-2 col-form-label">Date of Entry:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateOfEntry" class="form-control" id="dateOfEntryInput">
            </div>

            <label for="entryDoneByInput" class="col-sm-2 col-form-label">Entry Done By:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="entryDoneBy" class="form-control" id="entryDoneByInput" placeholder="Entry Done By">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn text-light btn-large btn-block" style="background-color: #b40c57;" id="add-record-btn">Add Your Record</button>
            </div>
        </div>

    </form>
</div>

<!-- <script>
    function toggleForm() {
        var storageButton = document.querySelector(".storage-button");
        var storageForm = document.getElementById("storageForm");

        storageButton.style.display = "none";
        storageForm.style.display = "block";
    }
</script> -->
  <script>
    function toggleForm() {
        var form = document.getElementById("storageForm");
        form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
    }


      // Function to format the current date and time
      function getCurrentDateTime() {
        const now = new Date();
        const formattedDateTime = now.toISOString().slice(0, 16); // Format: "YYYY-MM-DDTHH:mm"
        return formattedDateTime;
    }

    // Set the default values on page load
    document.getElementById("dateOfEntryInput").value = getCurrentDateTime();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('receptionForm').addEventListener('submit', function(event) {
        // No need to prevent default behavior, as we want the form to submit normally
  
        // Your form handling logic here
  
        // Show an alert after the form submission
        alert('Reception created successfully');
      });
    });
  </script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->