<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="Shortcut Icon" type="image/ico" href="images/favicon.svg">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>KHRC</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  <link rel="stylesheet" href="./css/style.css"> <!-- Your custom CSS file -->
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/common.css">

  <link rel="stylesheet" href="./css/scrollTop.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

     <!-- NavBar -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand mb-1 nav-heading" href="/home" style="font-size: 28px;">
      <!-- <img src="./medicalLogo.png" /> -->
      <!-- <i class="fa fa-stethoscope" style="font-size:30px;color:white"></i> -->
      <img src="./images/khrc_logo.png" alt="logo" width="130px">
    </a>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/reception-form"> Reception </a></li>
      <li>
        <a href="#">Storage</a>
        <div class="dropdown">
          <a href="#">CSS</a>
          <a href="#">LS1</a>
          <a href="#">LS2</a>
        </div>
      </li>
      <!-- <li><a href="About"> About </a></li> -->
      <li><a href="contact">Contact Us</a></li>
      <div>
        <i class="fa-solid fa-user" id="userIcon"></i>
        <div id="userDropdown">
            
        </div>
      </div>
      
      <div class="logout-container">
        <form action="/logout" method="get">
           <button type="submit" class="logout-button">
           <i class="fas fa-sign-out-alt"></i> Logout
       </button>
     </form>
 </div>
      <!-- <li><a href="logout" style="color: white; text-decoration: none;">Logout</a></li> -->
    </ul>
  </nav>

<!-- include style -->
<%- include('include/_indexCss') %>
<!-- /include style -->

<!-- Section for Adding Health Records -->
<div class="container pt-5 mt-5 my-3">

 <!-- Reception Form -->
 <div class="storage-container">

    <button class="storage-button" onclick="toggleForm()">
        <i class="fas fa-database icon"></i> RECEPTION FORM
    </button>
</div>


<div class="storage-container">
    <!-- Reception Form -->
    <form action="reception" method="POST" id="receptionForm">

        <div class="form-group row">
            <label for="studyNameInput" class="col-sm-2 col-form-label">Study Name:</label>
            <div class="col-sm-4 position-relative">
                <div class="col-sm-4 position-relative">
                    <select id="studyName" class="form-control" name="studyName">
                        <option value="CSS">CSS</option>
                        <option value="LS1/1">LS1/1</option>
                        <option value="LS1/2">LS1/2</option>
                        <option value="LS2">LS2</option>
                    </select>
                </div>
            </div>

            <label for="subjectInput" class="col-sm-2 col-form-label">SampleID (SID):</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="sampleId" class="form-control" id="" placeholder="SampleID (SID)">
            </div>
        </div>

        <div class="form-group row">
            <label for="visitNameInput" class="col-sm-2 col-form-label">Visit Name:</label>
            <div class="col-sm-4 position-relative">
                <select id="visitName" class="form-control" name="visitName">
                    <option value="M0">M0</option>
                    <option value="M6">M6</option>
                    <option value="M12">M12</option>
                    <option value="M18">M18</option>
                    <option value="M24">M24</option>
                </select>
            </div>

            <label for="visitDateInput" class="col-sm-2 col-form-label">Visit Date:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="visitDate" class="form-control" id="visitDateInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="sampleType" class="col-sm-2 col-form-label">Sample Type:</label>
            <div class="col-sm-4 position-relative">
                <select id="sampleType" class="form-control" name="sampleType">
                    <option value="Urine">Urine</option>
                    <option value="Scvs">SCVS</option>
                </select>
            </div>
    
            <label class="col-sm-2 col-form-label">Sample Quality:</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sampleQuality" id="accepted" value="Accepted">
                    <label class="form-check-label" for="accepted">Accepted</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sampleQuality" id="rejected" value="Rejected">
                    <label class="form-check-label" for="rejected">Rejected</label>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="rejectionReason" class="col-sm-2 col-form-label">Reason for Rejection:</label>
            <div class="col-sm-4 position-relative">
                <select id="rejectionReason" class="form-control" name="rejectionReason">
                    <option value="">Null</option>
                    <option value="Insufficient Sample">Insufficient Sample</option>
                    <option value="Urine Less Than 5ML">Urine Sample Less Than 5ML</option>
                    <option value="Leakage">Leakage</option>
                    <option value="swapNotInSCVSTube">Swab Not in SCVS Tube</option>
                    <option value="missLabeling">Miss Labeling</option>
                    <option value="Heavy Bloody Urine">Heavy Bloody Urine</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="ageAtVisitInput" class="col-sm-2 col-form-label">Age at Visit:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="ageAtVisit" class="form-control" id="ageAtVisitInput" placeholder="Age at Visit">
            </div>

            <label for="dateSampleCollectionInput" class="col-sm-2 col-form-label">Date of Sample Collection:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateSampleCollection" class="form-control" id="dateSampleCollectionInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="timeOfSampleCollectionInput" class="col-sm-2 col-form-label">Time of Sample Collection:</label>
            <div class="col-sm-4 position-relative">
                <input type="time" name="timeOfSampleCollection" class="form-control" id="timeOfSampleCollectionInput" placeholder="Time of Sample Collection">
            </div>

            <label for="dateOfSampleReceiptInput" class="col-sm-2 col-form-label">Date of Sample Receipt:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateOfSampleReceipt" class="form-control" id="dateOfSampleReceiptInput">
            </div>
        </div>

        <div class="form-group row">
            <label for="timeOfSampleReceiptInput" class="col-sm-2 col-form-label">Time of Sample Receipt:</label>
            <div class="col-sm-4 position-relative">
                <input type="time" name="timeOfSampleReceipt" class="form-control" id="timeOfSampleReceiptInput" placeholder="Time of Sample Receipt">
            </div>

            <label for="commentsInput" class="col-sm-2 col-form-label">Comments:</label>
            <div class="col-sm-4 position-relative">
                <textarea name="comments" class="form-control" id="commentsInput" rows="4" placeholder="Comments"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="dateOfEntryInput" class="col-sm-2 col-form-label">Date of Entry:</label>
            <div class="col-sm-4 position-relative">
                <input type="date" name="dateOfEntry" class="form-control" id="dateOfEntryInput">
            </div>

            <label for="entryDoneByInput" class="col-sm-2 col-form-label">Entry Done By:</label>
            <div class="col-sm-4 position-relative">
                <input type="text" name="entryDoneBy" class="form-control" id="entryDoneByInput" value="<%= user ? user.username : '' %>" readonly>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn text-light btn-large btn-block" style="background-color: #b40c57;" id="add-record-btn">Add Your Record</button>
            </div>
        </div>

    </form>
</div>

<!-- <script>
    function toggleForm() {
        var storageButton = document.querySelector(".storage-button");
        var storageForm = document.getElementById("storageForm");

        storageButton.style.display = "none";
        storageForm.style.display = "block";
    }
</script> -->
  <script>
    function toggleForm() {
        var form = document.getElementById("storageForm");
        form.style.display = (form.style.display === "none" || form.style.display === "") ? "block" : "none";
    }


      // Function to format the current date and time
      function getCurrentDateTime() {
        const now = new Date();
        const formattedDateTime = now.toISOString().slice(0, 16); // Format: "YYYY-MM-DDTHH:mm"
        return formattedDateTime;
    }

    // Set the default values on page load
    document.getElementById("dateOfEntryInput").value = getCurrentDateTime();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('receptionForm').addEventListener('submit', function(event) {
        // No need to prevent default behavior, as we want the form to submit normally
  
        // Your form handling logic here
  
        // Show an alert after the form submission
        alert('Reception created successfully');
      });
    });
  </script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->