<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Study Name</th>
              <th scope="col">Subject</th>
              <th scope="col">Visit Name</th>
              <th scope="col">Visit Date</th>
              <th scope="col">Age at Visit</th>
              <th scope="col">Date of Sample Collection</th>
              <th scope="col">Entry Done By</th>
              <th><a href="" scope="col">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
              </a></th>
              <th><a href="" scope="col">
                <span class="text-gradient"><i class="fas fa-times"></i></span>
              </a></th>
            </tr>
          </thead>
          <tbody id="tbody" class="bg-white divide-y divide-gray-200">
            <!-- Table rows will be added here -->
          </tbody>
        </table>
      </div>
    </div>
    <script>
      
    </script>