<!-- main -->
<div class="main">
    <div class="main-image">
      <img src="./images/Medical prescription-amico.svg" alt="">
    </div>
    <div class="main-text">
      <p>
        This platform serves as a Personal Health Journal, empowering users to maintain a comprehensive digital
        record of their health-related data. With features designed for tracking health progress, documenting
        symptoms, and recording medications, MedStats offers a seamless and efficient method for individuals to
        proactively monitor and manage their well-being.
      </p>
    </div>
  </div>
  <div class="feature">
    <div class="card" style="width: 18rem;">
      <img src="./images/favicon.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./images/favicon.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="./images/favicon.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>