<div class="contact-form">
    <h1>Contact us</h1>
    <div class="container">
      <div class="main">
        <div class="content">
          <h2>Contact Us</h2>
          <form action="contact" method="post">
            <input type="text" name="name" placeholder="Enter your Name">
            <input type="email" name="email" placeholder="Enter your Email">
            <input type="phone" name="phone" placeholder="Enter your phone number">
            <textarea name="msg" placeholder="Your Message"></textarea>
            <button type="submit" class="btn">Send<i class="butn"></i></button>
          </form>
        </div>
        <div class="form-img">
          <img src="./images/contactus.svg" alt="contactus">
        </div>
      </div>
    </div>
  </div>