<footer>
    <p class="text-center1">
      Made by Kharis Pro-Tech <br>
      Powered by KHRC Copyright © 2024 <span id="current-year"></span>
      </br></br>
    </p>
  </footer>

  <!-- dynamic data code -->
  <script src="/js/script.js"></script>
  <script src="/js/icon.js"></script>
  <script src="/js/pwd.js"></script>
  <script src="/js/storageLogic.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
 
  <!-- <script src="./js/scrollTop.js"></script> -->
  
  <!-- <script>
    const currentYear = new Date().getFullYear();
    document.getElementById('current-year').textContent = currentYear;
  </script> -->
</body>
</html>